$color-primary-1: #e8004a;
$color-primary-2: #ffa4c1;

$color-secondary-1-5: #ff9b76;

$color-red: #e74c3c;
$color-font-grey-1: #f7f1e3;

// Font variables

$color-font-grey: #f6f6f6;
$color-font-2: #03224c;
$color-font-grey-dark: #222831;
$color-font-dark: #0c0c0c;
