.contact {
  grid-row: row-start 3 / row-end 3;
  grid-column: 1 / -1;
  background-image: linear-gradient(
    rgba($color-font-2, 0.9),
    rgba($color-font-2, 0.9)
  );
  background-size: cover;
  background-position: center;
  display: grid;

  align-items: center;
  justify-items: center;

  grid-template-rows: repeat(2, minmax(min-content, 1fr)) minmax(2rem, 10rem);
  grid-template-columns: repeat(
    4,
    [col-start] minmax(min-content, 1fr) [col-end]
  );

  transition: all 0.5s;

  &__container {
    grid-column: col-start 1 / col-end 1;
    color: $color-font-grey;
    padding: 3rem 6rem;
    @media only screen and (max-width: $bp-smallerest-small) {
      grid-column: col-start 1 / col-end 2;
    }
  }

  &__social {
    grid-column: col-start 4 / col-end 4;
    justify-self: center;
    align-self: center;

    @media only screen and (max-width: $bp-smallerest-small) {
      grid-column: col-start 3 / col-end 4;
    }

    ul {
      list-style: none;
      li a {
        display: flex;
        align-items: center;
      }
    }
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: $color-font-grey;
    margin-right: 2rem;
  }
}

.logo--footer {
  grid-column: col-start 2 / col-end 3;
  justify-self: center;
  position: relative;
  transition: all 0.2s;

  cursor: pointer;

  @media only screen and (max-width: $bp-smallerest-small) {
    display: none;
  }

  &:hover {
    transform: rotate(5deg);
  }
}

.special-thanks {
  align-self: center;
  grid-column: col-start 2 / col-end 3;
  padding: 2rem 3rem;
  @media only screen and (max-width: $bp-smallerest-small) {
    grid-column: col-start 1 / col-end 4;
  }
}
