.logo {
  align-self: center;
  justify-self: start;

  transition: all 0.2s;
  font-family: "Josefin Sans", sans-serif;

  &--header {
    animation-name: moveFromLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 3s;
    animation-fill-mode: backwards;

    &__span1 {
      color: $color-font-2;
    }
    &__span2 {
      color: $color-primary-1;
    }

    sub {
      font-size: 2rem;
      color: $color-font-2;
    }
  }

  &--footer {
    &__span1 {
      color: $color-primary-1;
    }

    &__span2 {
      color: rgba($color-primary-1, 1);
    }
  }

  &__icon {
    position: absolute;
    top: 1.4rem;
    left: 5rem;
    width: 5rem;
    height: 5rem;
    filter: invert(15%) sepia(85%) saturate(5280%) hue-rotate(333deg)
      brightness(88%) contrast(109%);
    animation: moveLogoIcon infinite ease-out 3s;
    &--footer {
      top: -0.5rem;
      left: 0;
    }
  }
}
