.logo {
  &--header {
    animation-name: moveFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
  }

  align-self: center;
  justify-self: start;

  transition: all 0.2s;

  &__icon {
    position: absolute;
    top: 1.4rem;
    left: 5rem;
    width: 5rem;
    height: 5rem;
    filter: invert(15%) sepia(85%) saturate(5280%) hue-rotate(333deg)
      brightness(88%) contrast(109%);
    animation: moveLogoIcon infinite ease-out 3s;
  }
}
