/// NAVIGATION STICKY
.sticky {
  background-color: rgba($color-font-grey-1, 0.9);
  position: fixed;
  width: 100%;
  animation: animateNav 0.5s ease-in-out;
  @media only screen and (max-width: $bp-smallerest-small) {
    background: transparent;
    animation: none;
  }
}

.sticky .logo {
  @media only screen and (max-width: $bp-smallerest-small) {
    display: none;
  }
}

/// HEADER section
.section--hidden {
  opacity: 0;
  transform: translateX(-50rem);
  @media only screen and (max-width: $bp-smallerest) {
    opacity: 1;
    transform: translateX(0);
  }
}

/// PORTOFOLIO section
.story--hidden {
  opacity: 0;
  transform: translateX(-50rem);
  @media only screen and (max-width: $bp-smallerest) {
    opacity: 1;
    transform: translateX(0);
  }
}

/// PORTOFOLIO text part

.text-hidden {
  opacity: 0;
}

.text-animated {
  animation: fadeInText;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

/// FOOTER section
.footer--hidden {
  opacity: 0;
  transform: translateX(-50rem);
  @media only screen and (max-width: $bp-smallerest) {
    opacity: 1;
    transform: translateX(0);
  }
}
