.section--hidden {
  opacity: 0;
  transform: translateY(10rem);
}

.story--hidden {
  opacity: 0;
  transform: translateX(-50rem);
}

.footer--hidden {
  opacity: 0;
  transform: translateX(-50rem);
}

.sticky {
  background-color: rgba($color-font-grey-1, 0.9);
  position: fixed;
  width: 100%;
}
