/// NAVIGATION STICKY
.sticky {
  background-color: rgba($color-font-grey-1, 0.9);
  position: fixed;
  width: 100%;
  animation: animateNav 0.5s ease-in-out;
}

/// HEADER section
.section--hidden {
  opacity: 0;
  transform: translateX(-50rem);
}

/// PORTOFOLIO section
.story--hidden {
  opacity: 0;
  transform: translateX(-50rem);
}

/// PORTOFOLIO text part

.text-hidden {
  opacity: 0;
}

.text-animated {
  animation: fadeInText;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

/// STORY reveal technologies
.tech--hidden {
  opacity: 0;
}

.tech--reveal {
  animation: tech;
  animation-duration: 3s;
  animation-delay: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

/// FOOTER section
.footer--hidden {
  opacity: 0;
  transform: translateX(-50rem);
}
