.btn {
  &,
  &:link,
  &:visited {
    font-size: 2rem;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 1rem;
    transition: all 0.2s;
    position: relative;
    border: none;
    @include boxShadowLighter;
    cursor: pointer;
  }
  // hover in preparing of the animation moving little up and enlarge
  // seting the opacity of the ::after to 0 I make sure that this is not shown
  // after the animation ends
  &:hover {
    transform: translateY(-3px);
    @include boxShadow;
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    outline: none;
    transform: translateY(-1px);
    @include boxShadowLight;
  }

  // making the after element visible and pushing it
  // in the back with z-index
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    transition: all 0.4s;
  }

  &--blue {
    background-color: $color-font-2;
    color: $color-font-grey;
    &::after {
      background-color: $color-font-2;
    }
  }

  &--white {
    border-radius: 1rem;
    background-color: $color-font-grey-1;
    color: $color-font-2;
    &::after {
      border-radius: 1rem;
      background-color: $color-font-grey-1;
    }
  }

  // animate the ::after so it shows on hover

  &__animated {
    animation: moveInButton 0.5 ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

// header bnuttons

.button-header {
  &,
  &:link,
  &:visited {
    position: relative;
    text-decoration: none;
    padding: 1.5rem 4rem;

    width: 25rem;

    font-size: 2rem;
    font-weight: 400;

    border-radius: 1rem;
    border: 2px;

    background-color: transparent;

    transition: all 0.2s;
  }

  &--white {
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 15s;
    animation-fill-mode: backwards;

    color: $color-font-2;
    border-color: $color-font-2;
    box-shadow: 0 0 40rem 40rem $color-font-grey-1 inset,
      0 0 0 0 $color-font-grey-1;
    &:hover {
      box-shadow: 0 0 1rem 0 $color-font-grey-1 inset,
        0 0 1rem 0.4rem $color-font-grey-1;
      color: $color-font-grey-1;

      transform: translateY(-3px);
    }
    &:active {
      transform: translateY(1px);
      color: $color-primary-1;
    }
  }
}
