////////////////////////////////////////
// NAVIGATION
////////////////////////////////////////
.navigation {
  &__link {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    color: $color-font-2;

    &:link,
    &:visited {
      text-decoration: none;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    @media only screen and (max-width: $bp-smallerest-small) {
      display: none;
    }
  }

  &__mobile {
    &--hidden {
      @media only screen and (max-width: $bp-smallerest-small) {
        display: none;
      }
    }
    &--show {
      @media only screen and (max-width: $bp-smallerest-small) {
        display: block;
        position: relative;
        width: 30%;
        height: 8rem;
        margin-top: 11%;
        margin-right: -2%;
      }
    }
  }

  li {
    padding: 0.5rem 1rem;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.2s;

    &:hover {
      background-color: rgba($color-primary-2, 1);
      border-radius: 2px;
    }

    @media only screen and (max-width: $bp-smallerest-small) {
      padding: 0 1rem;
      width: 100%;
      height: 70%;
      background-color: $color-font-grey-1;
      font-size: 2rem;
      justify-content: center;
      z-index: 9999;
    }
  }

  &__icon {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    fill: $color-font-2;

    @media only screen and (max-width: $bp-smallerest-small) {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}

// .link {
//   &:link,
//   &:visited {
//     display: inline-block;
//     padding: 1rem 2rem;
//     color: $color-font-2;
//     text-decoration: none;

//     transition: all 0.2s;
//   }
//   &--make-contact {
//     &:hover,
//     &:focus {
//       border-radius: 2px;
//       @include boxShadowLight;
//       transform: rotate(-5deg) scale(1.2);
//       color: $color-primary-1;
//     }
//   }
// }

////////////////////////////////////////
// STORY MESSAGE LINK
////////////////////////////////////////

.text-link {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    color: $color-primary-1;

    transition: all 0.2s;
  }
  &:hover,
  &:active {
    text-transform: uppercase;
    color: $color-primary-1;
    @include boxShadow;
    transform: rotate(5deg) scale(1.2);
  }
}
////////////////////////////////////////
// FOOTER
////////////////////////////////////////
.footer-links {
  &:link,
  &:visited {
    // display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;

    font-size: 2rem;
    transition: all 0.2s;
    text-decoration: none;
    color: $color-font-grey;
  }

  &:hover,
  &:focus {
    transform: translatex(3rem) translateY(-0.5rem);
    background-color: rgba($color-primary-1, 0.7);
    @include boxShadowDark;
    .contact__icon--1 {
      fill: #1da1f2;
    }

    .contact__icon--2 {
      fill: #1877f2;
    }

    .contact__icon--3 {
      fill: #0a66c2;
    }

    .contact__icon--4 {
      fill: #ffdc7d;
    }
  }

  &:active {
    transform: translatex(2rem) translateY(0);
    @include boxShadow;
  }
}

////  links from special thanks
.footer-name-link {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    color: $color-font-grey;
  }
  &:hover {
    border-radius: 2px;
    background-color: $color-primary-1;
    color: $color-font-2;
    @include boxShadow;
    transform: rotate(5deg) scale(1.2);
    transition: all 0.2s;
  }
}
