///// LOGO icon moving continuously behind logo
@keyframes moveLogoIcon {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  50% {
    opacity: 1;
    transform: translateX(-3rem) scale(1.1);
  }

  100% {
    opacity: 0;
    transform: translateX(0) scale(1);
  }
}

//// NAVIGATION when becomes sticky is coming into screen slowly from top to bottom
@keyframes animateNav {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

////// HEADING pink line comming from left under "Web design Services"
@keyframes moveLine {
  0% {
    opacity: 0;
    transform: translatex(-100rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

///// LOGO, NAVIGATION links, MESSAGES in header "No strawberrys wher hurt..."
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100rem);
  }

  80% {
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

///// MESSAGES in header "This site was not tested ....."
@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(50rem);
  }

  80% {
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

///// BUTTONS in the header the white ones "See the portofolio" & "Read about it"
@keyframes appear {
  0% {
    opacity: 0;
    transform: rotate(360deg) scale(0.1);
  }

  100% {
    opacity: 1;
    transform: rotate(-360deg) scale(1);
  }
}

//BUTTON in the portofolio section
@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

////////// PORTOFOLIO TEXT
@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: scale(0.1) translateX(-200rem) translateY(-150rem);
    filter: blur(3px);
    background-color: $color-font-grey-1;
    border-radius: 40rem 20rem 80rem / 10rem 70rem;
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateX(0) translateY(0);
    filter: blur(0);
    background-color: transparent;
    border-radius: 2px;
  }
}
