*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  ::selection {
    background-color: rgba($color-primary-1, 0.5);
    color: $color-font-grey;
  }
}

.container {
  display: grid;
  grid-template-rows: [logo-start] 9rem [logo-end header-start] 80vh [header-end] repeat(
      3,
      [row-start] min-content [row-end]
    );
  grid-template-columns: 100%;
  // background-color: #0e3a77;
  // background-color: $color-font-2;
  background-image: url("https://new-presentation.s3.eu-north-1.amazonaws.com/vintage-concrete.png");
}
